$font-stack:    Helvetica, sans-serif
$primary-color: #333

body
  font: 100% $font-stack
  color: $primary-color


// TODO: Useful for react animations, which aren't working yet.
.example-enter
  opacity: 0.01

  &.example-enter-active
    opacity: 1
    transition: opacity 500ms ease-in

.example-leave
  opacity: 1

  &.example-leave-active
    opacity: 0.01
    transition: opacity 300ms ease-in


=horizontally-centered
  width: 50%
  margin: 0 auto


.main
  +horizontally-centered

.filter-select
  +horizontally-centered

.select-input
  +horizontally-centered

.select-filter-parameter
  +horizontally-centered
